* {
  outline: none;
  transition: all 0.3s;
}
body {
  background: #fffebc;
  color: #000;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.topBox {
  background: dodgerblue;
  width: calc(100% - 20px);
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px #3d3d3d;
}
.topBox img.logo {
  height: 100%;
}
.topBox .userNameBox {
    user-select: none;
    cursor: pointer;
  background: #8e00fd;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  width: calc(100%-10px);
  font-size: large;
  font-weight: 700;
  text-align: center;
  font-family: monospace;
  text-transform: capitalize;
}

.topBox .logoutBox {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: #ffffffb4;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: large;
  font-weight: 800;
  text-align: center;
  font-family: monospace;
  display: none; /*flex*/
}
.topBox .logoutBox button {
  background: #8e00fd;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: large;
  font-weight: 800;
  text-align: center;
  font-family: monospace;
}
.timeTableBox {
  width: 100%;
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeTableBox img {
  width: 100%;
}
